.customers-filters {
    display: grid;
    grid-template-columns: 1;
    gap: 1em;
    padding: 2em;

    .input-filter, .select-sort {
        padding: 0.5em 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1rem;
    }

    .select-sort {
        option {
            text-transform: capitalize;
        }
    }
}