@use '../../../../assets/styles/queries';

.customer-list {
    display: grid;
    grid-template-columns: 1;
    gap: 0.5em;
    padding: 2em;
}

@include queries.screen(lg) {
    .customer-list {
        grid-template-columns: repeat(3, 1fr);
    }
}