@use './variables';

.btn {
    padding: 0.5em 1.5em;
    color: variables.$white;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;

    &:disabled {
        background-color: variables.$pending;
    }
}

.btn{
    &-primary {
        background-color: variables.$primary;
        border-color: variables.$primary;
    }
    &-danger {
        background-color: variables.$danger;
        border-color: variables.$danger;

    }
    &-success {
        background-color: variables.$success;
        border-color: variables.$success;

    }
}