$cyan: #3fc1c9;
$blue: #364f6b;
$white: #f5f5f5;
$clear-blue: #67ced4;

// STATUS
$active: rgb(149, 255, 149);
$inactive: rgb(255, 255, 108);
$pending: lightgray;

// BUTTONS
$primary: #0d6efd;
$danger: #dc3545;
$success: #198754;
