@use '../../../../assets/styles/variables';

.item-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: variables.$blue;
    color: variables.$white;
    border-radius: 10px;
}